@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#8c7a7a), color-stop(65%, #af877c), to(#af877c)) fixed;
  background: linear-gradient(to bottom, #8c7a7a 0%, #af877c 65%, #af877c 100%) fixed;
  background: url("https://i.redd.it/ybl5ahmqj0341.jpg") no-repeat center center fixed;
  background-size: cover;
  font: 12px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
  justify-content: center;
}

@media screen and (min-width: 1400px) {
  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(12, 484.847px);
  grid-gap: 120px;
  /* height: 609.847px  ; */
  margin: auto;
  max-width: 1200px;
  justify-content: center;
}
}

@media screen and (max-width: 1400px) {
  .grid-container {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(36, 484.847px);
  grid-gap: 120px;
  /* height: 609.847px  ; */
  margin: auto;
  max-width: 1200px;
  justify-content: center;
}
}

.brawl-card {
  background:white;
  width: 300px;
  display: inline-block;
  /* margin: auto; */
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
  /* margin: 40px 85px; */
  /* transform: scale(1.12); */
  /* z-index: 10; */
  /* margin-bottom: 40px; */
  /* padding-top: 40px; */
  /* padding-bottom: 40px; */
  outline: none;
}

.brawl-card:hover {
  transform: scale(1.12);
  z-index: 10;
}

.brawl-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.brawl-card__image {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}
.brawl-card__image img {
  width: 300px;
  position: absolute;
  top: 0px;
  left: 0px;
}

.brawl-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.brawl-card__level--barbarian {
  color: #0b65d3;
  bottom: 10%;
}

.brawl-card__level--archer {
  color: #EE5487;
}

.brawl-card__level--giant {
  color: #F6901A;
}

.brawl-card__level--goblin {
  color: #82BB30;
}

.brawl-card__level--wizard {
  color: #4FACFF;
}

.brawl-card__unit-name {
  font-size: 30px;
  color: #6713C1;
  font-weight: 900;
  margin-bottom: 30px;
  bottom:10%;
}

.brawl-card__unit-name2 {
  font-size: 30px;
  color: #6713C1;
  font-weight: 900;
  margin-bottom: 0px;
  padding: 30px;
}

.brawl-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.brawl-card__unit-stats--barbarian {
  background: #6713C1;
}

.brawl-card__unit-stats--barbarian .one-half {
  /* border-right: 1px solid #F1A0F9; */
  border-bottom: 1px solid #F1A0F9;
}

.brawl-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #F1A0F9;
}

.brawl-card__unit-stats--archer {
  background: #EE5487;
}
.brawl-card__unit-stats--archer .one-third {
  border-right: 1px solid #D04976;
}

.brawl-card__unit-stats--giant {
  background: #F6901A;
}
.brawl-card__unit-stats--giant .one-third {
  border-right: 1px solid #de7b09;
}

.brawl-card__unit-stats--goblin {
  background: #82BB30;
}
.brawl-card__unit-stats--goblin .one-third {
  border-right: 1px solid #71a32a;
}

.brawl-card__unit-stats--wizard {
  background: #4FACFF;
}
.brawl-card__unit-stats--wizard .one-third {
  border-right: 1px solid #309eff;
}

.brawl-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.brawl-card__unit-stay {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.brawl-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}

.brawl-card__unit-stay .one-half {
  width: 50%;
  float: left;
  padding: 20px 15px;
  /* border-right:black; */
}

.brawl-card__unit-stay sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.brawl-card__unit-stay .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.brawl-card__unit-stay .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.brawl-card__unit-stay .no-border {
  border-right: none;
}


.brawl-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.brawl-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.brawl-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.brawl-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}