<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brawler Info</title>
    <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
    <link rel="stylesheet" href="static/assets/css/News-Cards.css">
</head>

<body>
    <!-- <p>Hello World</p> -->
    {% for i in det %}
        <p>{{i}}</p>
    {% endfor %}
    {% for i in dd%}
        {% for j in i%}
            <p>{{j}}</p>
        {% endfor %}
    {% endfor %} -->
    <script src="static/assets/js/jquery.min.js"></script>
    <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>