<link rel="stylesheet" href="{{url_for('static',filename='css/clash.css')}}" />

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- jQuery library -->
<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- <div class="stats" style="max-width: 1200px;">
  <div class="col-lg-6 col-sm-6 col-xs-6" style="padding: 5px 10px; left: 20%;" >
    <div class="ind_stats">
        <div class="col-lg-4 col-sm-4 col-xs-4" style="padding: 5px 10px; left: 20%;" >
          <label>Average Trophies  {{ind[0]}} </label>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4" style="padding: 5px 10px; left: 20%;" >
          <label>Average Power  {{ind[1]}} </label>
        </div>
        <div class="col-lg-4 col-sm-4 col-xs-4" style="padding: 5px 10px; left: 20%;" >
          <label>Average Rank  {{ind[2]}} </label>
        </div>
    </div>
  </div>
  <div class="col-lg-6 col-sm-6 col-xs-6" style="padding: 5px 10px; left: 20%;" >
    <div class="sd_stats">
      <div class="col-lg-4 col-sm-4 col-xs-4" style="padding: 5px 10px; left: 20%;" >
        <label>Average Trophies  {{sd[0]}} </label>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-4" style="padding: 5px 10px; left: 20%;" >
        <label>Average Power  {{sd[1]}} </label>
      </div>
      <div class="col-lg-4 col-sm-4 col-xs-4" style="padding: 5px 10px; left: 20%;" >
        <label>Average Rank  {{sd[2]}} </label>
      </div>
  </div>
  </div>
</div><br><br> -->
<div class="grid-container">
  <!-- <div class="wrapper"> -->
{% for i in dd %}
  <div class="brawl-card">
    <div class="brawl-card__image brawl-card__image">
      <!-- <img src="{{url_for('static',filename='fullbrawl/{{i[1]}}.png')}}" alt="barian" /> -->
      <img src="static/fullbrawl/{{i[1]}}.png" alt="barbarian" />
    </div>
    <div class="brawl-card__level brawl-card__level--barbarian">Rank {{i[3]}}</div>
    <div class="brawl-card__unit-name">{{i[1]}}</div>
    <!-- <div class="brawl-card__unit-description">
      The Barbarian is a kilt-clad Scottish warrior with an angry, battle-ready expression, hungry for destruction. He
      has Killer yellow horseshoe mustache.
    </div> -->

    <div class="brawl-card__unit-stay brawl-card__unit-stats--barbarian clearfix">
      
      <div class="one-half">
        <div class="stat">{{i[6]}}</div>
        <div class="stat-value">StarPower1</div>
      </div>

      <div class="one-half">
        <div class="stat">{{i[7]}}</div>
        <div class="stat-value">StarPower2</div>
      </div>
    </div>

    <div class="brawl-card__unit-stats brawl-card__unit-stats--barbarian clearfix">
      <div class="one-third">
        <div class="stat">{{i[2]}}</div>
        <div class="stat-value">Power</div>
      </div>

      <div class="one-third">
        <div class="stat">{{i[4]}}</div>
        <div class="stat-value">Trophies</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">{{i[5]}}</div>
        <div class="stat-value">Highest trophies</div>
      </div>

    </div>
  </div> <!-- end brawl-card barbarian-->
{% endfor %}

<div class="avg">
  <div class="brawl-card">
    <div class="brawl-card__unit-name2">Player Average</div>
    <div class="brawl-card__unit-stats brawl-card__unit-stats--barbarian clearfix">
      <div class="one-third">
        <div class="stat">{{ind[0]}}</div>
        <div class="stat-value">Average Trophies</div>
      </div>

      <div class="one-third">
        <div class="stat">{{ind[1]}}</div>
        <div class="stat-value">Average Rank</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">{{ind[2]}}</div>
        <div class="stat-value">Average Power</div>
      </div>

    </div>
  </div> <!-- end brawl-card barbarian-->
</div>

<div class="avg2">
  <div class="brawl-card">
    <div class="brawl-card__unit-name2">Overall Average</div>
    <div class="brawl-card__unit-stats brawl-card__unit-stats--barbarian clearfix">
      <div class="one-third">
        <div class="stat">{{sd[0]}}</div>
        <div class="stat-value">Average Trophies</div>
      </div>

      <div class="one-third">
        <div class="stat">{{sd[1]}}</div>
        <div class="stat-value">Average Rank</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">{{sd[2]}}</div>
        <div class="stat-value">Average Power</div>
      </div>

    </div>
  </div> <!-- end brawl-card barbarian-->
</div>
 <!--
  <div class="brawl-card barbarian">
    <div class="brawl-card__image brawl-card__image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian.png" alt="barbarian" />
    </div>
    <div class="brawl-card__level brawl-card__level--barbarian">Level 4</div>
    <div class="brawl-card__unit-name">The Barbarian</div>
    <div class="brawl-card__unit-description">
      The Barbarian is a kilt-clad Scottish warrior with an angry, battle-ready expression, hungry for destruction. He
      has Killer yellow horseshoe mustache.
    </div>

    <div class="brawl-card__unit-stats brawl-card__unit-stats--barbarian clearfix">
      <div class="one-third">
        <div class="stat">20<sup>S</sup></div>
        <div class="stat-value">Training</div>
      </div>

      <div class="one-third">
        <div class="stat">16</div>
        <div class="stat-value">Speed</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">150</div>
        <div class="stat-value">Cost</div>
      </div>

    </div>

  </div> <!-- end brawl-card barbarian-->
  <!-- </div> end wrapper -->

  <!-- <div class="wrapper"> -->
   <!-- 
  <div class="brawl-card archer">
    <div class="brawl-card__image brawl-card__image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer.png" alt="archer" />
    </div>
    <div class="brawl-card__level brawl-card__level--archer">Level 5</div>
    <div class="brawl-card__unit-name">The Archer</div>
    <div class="brawl-card__unit-description">
      The Archer is a female warrior with sharp eyes. She wears a short, light green dress, a hooded cape, a leather
      belt and an attached small pouch.
    </div>

    <div class="brawl-card__unit-stats brawl-card__unit-stats--archer clearfix">
      <div class="one-third">
        <div class="stat">25<sup>S</sup></div>
        <div class="stat-value">Training</div>
      </div>

      <div class="one-third">
        <div class="stat">24</div>
        <div class="stat-value">Speed</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">300</div>
        <div class="stat-value">Cost</div>
      </div>

    </div>

  </div> <!-- end brawl-card archer-->
  <!-- </div> end wrapper -->

  <!-- <div class="wrapper"> --> <!-- 
  <div class="brawl-card giantiiii">
    <div class="brawl-card__image brawl-card__image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant.png" alt="giant" />
    </div>
    <div class="brawl-card__level brawl-card__level--giant">Level 5</div>
    <div class="brawl-card__unit-name">The Giant</div>
    <div class="brawl-card__unit-description">
      Slow, steady and powerful, Giants are massive warriors that soak up huge amounts of damage. Show them a turret or
      cannon and you'll see their fury unleashed!
    </div>

    <div class="brawl-card__unit-stats brawl-card__unit-stats--giant clearfix">
      <div class="one-third">
        <div class="stat">2<sup>M</sup></div>
        <div class="stat-value">Training</div>
      </div>

      <div class="one-third">
        <div class="stat">12</div>
        <div class="stat-value">Speed</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">2250</div>
        <div class="stat-value">Cost</div>
      </div>

    </div>

  </div> <!-- end brawl-card giant-->
  <!-- </div> end wrapper -->

  <!-- <div class="wrapper"> --> <!--
  <div class="brawl-card goblin">
    <div class="brawl-card__image brawl-card__image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin.png" alt="goblin" />
    </div>
    <div class="brawl-card__level brawl-card__level--goblin">Level 5</div>
    <div class="brawl-card__unit-name">The Goblin</div>
    <div class="brawl-card__unit-description">
      These pesky little creatures only have eyes for one thing: LOOT! They are faster than a Spring Trap, and their
      hunger for resources is limitless.
    </div>

    <div class="brawl-card__unit-stats brawl-card__unit-stats--goblin clearfix">
      <div class="one-third">
        <div class="stat">30<sup>S</sup></div>
        <div class="stat-value">Training</div>
      </div>

      <div class="one-third">
        <div class="stat">32</div>
        <div class="stat-value">Speed</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">100</div>
        <div class="stat-value">Cost</div>
      </div>

    </div>

  </div> <!-- end brawl-card goblin-->
  <!-- </div> end wrapper -->

  <!-- <div class="wrapper"> --> <!--
  <div class="brawl-card wizard">
    <div class="brawl-card__image brawl-card__image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard.png" alt="wizard" />
    </div>
    <div class="brawl-card__level brawl-card__level--wizard">Level 6</div>
    <div class="brawl-card__unit-name">The Wizard</div>
    <div class="brawl-card__unit-description">
      The Wizard is a terrifying presence on the battlefield. Pair him up with some of his fellows and cast concentrated
      blasts of destruction on anything, land or sky!
    </div>

    <div class="brawl-card__unit-stats brawl-card__unit-stats--wizard clearfix">
      <div class="one-third">
        <div class="stat">5<sup>M</sup></div>
        <div class="stat-value">Training</div>
      </div>

      <div class="one-third">
        <div class="stat">16</div>
        <div class="stat-value">Speed</div>
      </div>

      <div class="one-third no-border">
        <div class="stat">4000</div>
        <div class="stat-value">Cost</div>
      </div>

    </div>

  </div> <!-- end brawl-card wizard-->
  <!-- </div> end wrapper -->

</div> <!-- end container -->