<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Details</title>
</head>
<body>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='materialize/css/materialize.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static',filename='css/player.css')}}"/>
    <script type="text/javascript" src="{{url_for('static', filename='materialize/js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='materialize/js/materialize.js')}}"></script>
    <section>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Club Details</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/battles">Battle Log</a></li>
            <li><a href="/brawler">Brawler Info</a></li>
            <li><a href="/new_analysis/no">Custom Analysis</a></li>
            <li><a href="/no">Analysis</a></li>
          </ul>
        </div>
      </nav>
    </section>




    <section class="row">
      <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
                  <thead>
                      <tr>
                          <div class="col-xs-2">
                              <th>Club Tag</th>
                          </div>
                          <div class="col-xs-2">
                              <th>Name</th>
                          </div>
                          <div class="col-xs-2">
                              <th>Trophies</th>
                          </div>
                          <div class="col-xs-2">
                              <th>Type</th>
                          </div>
                          <div class="col-xs-2">
                              <th>Required Trophies</th>
                          </div>
                          <div class="col-xs-2">
                              <th>Description</th>
                          </div>
                      </tr>
                  </thead>  
          </table>
      </div>
      <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
              <tr>
                  <div class="col-xs-2">
                      <td>{{det[0]}}</td>
                  </div>
                  <div class="col-xs-2">
                      <td>{{det[1]}}</td>
                  </div>
                  <div class="col-xs-2">
                      <td>{{det[2]}}</td>
                  </div>
                  <div class="col-xs-2">
                      <td>{{det[3]}}</td>
                  </div>
                  <div class="col-xs-2">
                      <td>{{det[4]}}</td>
                  </div>
                  <div class="col-xs-2">
                      <td>{{det[5]}}</td>
                  </div>
                  <div class="col-xs-2">
                      <td>{{det[6]}}</td>
                  </div>
              </tr>
          </tbody>
      </table>
      </div>
        <script type="text/javascript" src="{{url_for('static',filename='materialize/js/materialize.min.js')}}"></script>
      </section>



    <section>
        <div class="tbl-header">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                  <th>Tag</th>
                  <th>Name</th>
                  <th>Name Colour</th>
                  <th>Role</th>
                  <th>Trophies</th>
              </tr>
            </thead>
          </table>
        </div>
        <div class="tbl-content">
          <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for i in dd %}
                    <tr>
                        <td>{{i[1]}}</td>
                        <td>{{i[2]}}</td>
                        <td>{{i[3]}}</td>
                        <td>{{i[4]}}</td>
                        <td>{{i[5]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <script type="text/javascript" src="{{url_for('static',filename='materialize/js/materialize.min.js')}}"></script>
      </section>

</body>
</html>